.row {
    padding: 2rem;
}
.input {
    text-align: center;
    padding-top: 2%;
}
.mat-raised-button {
    background-color: #F99A9C;
    color: white;
}
.table {
    width: 50%;
    /* align-self: center; */
    padding-left: 25%;
    padding-top: 5%;
}
.mat-form-field {
    font-size: 1rem;
    width: 100%;
}
.mat-header-cell {
    font-size: 1rem;
}
.mat-cell {
    font-size: 1rem;
}
.response-card {
    height: 100%;
}
.fixed-header {
    display:block;
    overflow:auto;
    max-height: 39.25em;
    width:100%;
    font-size: 
}