<div class="input">
  <form [formGroup]="frequencyCountForm" (submit)="onSubmit(frequencyCountForm.value)">
    <mat-form-field style="width: 20%">
      <input matInput type="number" placeholder="Enter number of words" formControlName="wordCount" min=1>
      <mat-error
        *ngIf="frequencyCountForm.get('wordCount').touched && frequencyCountForm.get('wordCount').hasError('required')">
        No of words <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button [disabled]="frequencyCountForm.invalid">Get Frequency</button>
  </form>
</div>

<div *ngIf="showTopWords" class="table">
  <mat-form-field style="width: 50%;">
    <input matInput (keyup)="filterWords($event.target.value)" placeholder="Search word">
  </mat-form-field>

  <mat-table [dataSource]="topWords">
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index"> {{ i+1 }}. </mat-cell>
    </ng-container>
    <ng-container matColumnDef="word">
      <mat-header-cell *matHeaderCellDef> Word </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.word }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="frequency">
      <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.frequency }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>